@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}



@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.brand-slider {
  display: flex;
  width: fit-content;
  animation: scroll 20s linear infinite;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes scroll-x {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.comments-brand-slider {
  display: flex;
  width: max-content;
  animation: scroll-x 25s linear infinite;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.3s ease-out;
}


